<div class="wrapper">
    <div class="logo">
        <img src="../../../assets/pictures/logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Connexion Admin
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <i class="bi bi-person-fill"></i>
            <input [(ngModel)]="email" type="text" name="userName" id="userName" placeholder="User: charles@ph.com">
        </div>
        <div class="form-field d-flex align-items-center">
            <i class="bi bi-key-fill"></i>
            <input [(ngModel)]="password" type="password" name="password" id="pwd" placeholder="Password: Charles112">
        </div>
        <button class="btn mt-3" (click)="Adminlogin()">Login</button>
    </form>
    <div class="text-center fs-6">
        <a routerLink="/home">Retourner</a>
    </div>
  </div>
  